#months_container
 {
     text-align:left;
     margin-bottom:15%;
     padding-left:10px;
     display: inline-block;
     width: 95%;
     height: 0px;
     margin-left: 4.5%;
 }
#month1, #month2, #month3, #month4, #month5
{
    display:inline-block;
    padding: 2px;
    width: 19%;
    margin-top: 15px;
}

#seasons{
    display: inline-block;
    width: 50px;
    margin-top: 20px;
}
#pick{
    display: none;
}